log_console_level = 10
log_file_level = 10
engine_pool_size = 5
engine_max_overflow = 10
output_file = "resolutions.sql"

# Estructura de mapeo para crear objetos Resolution
[data_translation]
"Resolución" = "resolution"
"Tipo" = "doc_type"
"Válida desde" = "start_date"
"Válida hasta" = "end_date"
"Tienda" = "store"
"Prefijo" = "prefix"
"Desde" = "start_consecutive"
"Hasta" = "end_consecutive"
"Clave técnica" = "technical_key"

# Estructura de mapeo para traducir tipos de documentos
[document_type_translation]
"Factura de venta" = 5
"Nota de credito" = 9
"Factura de contingencia" = 13
"Nota de debito" = 15
