log_console_level = 10
log_file_level = 10
engine_pool_size = 5
engine_max_overflow = 10
output_file = "resolutions.sql"
[stores]
1 = "SEDE ADMINISTRATIVA"
7 = "EDS COLOMBIA CALLE 50"
10 = "METRO BOSA"
806 = "METRO  FATELARES"
16 = "JUMBO CARRERA 30"
76 = "JUMBO TUNJA"
20 = "METRO FLORESTA"
8 = "EDS 1° MAYO"
21 = "EDS APOLO AUTOSUR"
29 = "METRO CALLE 100"
2 = "EDS MARRUECOS"
74 = "METRO FACATATIVA"
46 = "METRO ITAGUI"
3 = "JUMBO BULEVAR NIZA"
48 = "JUMBO SOACHA"
28 = "METRO DUITAMA"
73 = "METRO MOSQUERA"
37 = "METRO LLANOCENTRO"
26 = "METRO BANDERAS"
75 = "METRO SIMON BOLIVAR"
41 = "JUMBO AVENIDA DEL RIO"
50 = "CORDIALIDAD"
51 = "PLATAFORMA IMPORTADOS"
52 = "PLATAFORMA CARNES"
53 = "PLATAFORMA - ALMAGRAN-BOGOTA"
54 = "PLATAFORMA DOMICILIOS/ELECTR"
55 = "PLATAFORMA PANADERIA"
56 = "PLATAFORMA PANADERIA"
57 = "PLATAFORMA CARNES"
58 = "PLATAFORMA PANADERIA"
60 = "PLATAFORMA CROSS DOCKING BOG"
62 = "PLATAFORMA IMPORTADOS"
63 = "PLATAFORMA DOMICILIOS/ELECTR"
64 = "PLATAFORMA PERFUMERIA"
65 = "PLATAFORMA FRUVER"
66 = "PLATAFORMA BF100"
67 = "PLATAFORMA DOMICILIOS/ELECTR"
68 = "PLATAFORMA PANADERIA"
69 = "PLATAFORMA CARNES"
9 = "JUMBO UNICENTRO"
70 = "JUMBO SUBA"
145 = "EDS AVD CIUDAD CALI"
45 = "JUMBO SANTA MARTA"
40 = "METRO RIOHACHA"
27 = "JUMBO RIONEGRO"
6 = "METRO PALMIRA"
185 = "JUMBO YOPAL"
42 = "METRO IBAGUE"
191 = "JUMBO CHIA BAZAR"
44 = "JUMBO CHIA"
72 = "JUMBO SANTA FE"
11 = "JUMBO CALLE 80"
47 = "JUMBO GIRARDOT"
255 = "JUMBO LA MESA"
43 = "JUMBO ALTOS DEL PRADO"
49 = "METRO LA 30"
134 = "EDS SIMON BOLIVAR CL 25"
82 = "METRO ATALAYAS"
132 = "EDS LA 24 CL 5B"
101 = "EDS TINTALITO"
102 = "EDS YUMBO CRA 33"
90 = "PLATAFORMA PANADERIA"
92 = "PLATAFORMA ELECTRO CUCUTA"
93 = "PLATAFORMA CROSS DOCKING MED"
95 = "PLATAFORMA CROSS DOCKING CAL"
104 = "METRO MERCACENTRO"
121 = "EDS TREBOL CL 76"
106 = "CADEFAM COLSEGUROS"
107 = "CADEFAM SAN FRANCISCO"
149 = "EDS ALQUERIA"
109 = "PLATAFORMA CARNES"
110 = "PLATAFORMA PANADERIA MERCADE"
111 = "BODEGA PRINCIPAL-XD"
112 = "PLATAFORMA FRUVER"
117 = "CADEFAM CABECERA"
122 = "PLATAFORMA CROSS DOCKING BAR"
139 = "EDS ALAMOS"
160 = "EDS SOACHA TERRENOS"
127 = "PLATAFORMA CROSS DOCKING BUC"
161 = "EDS CALLE 190"
130 = "PLATAFORMA DOMICILIOS/ELECTR"
135 = "EDS LAS VEGAS AUTONORTE"
137 = "EDS LA 30"
140 = "DROGUERIAS GIRON"
141 = " DROGUERIAS  FLORIDABLANCA"
142 = "DROGUERIAS MEGAMALL"
143 = "METRO IBAGUE CALLE 19"
136 = "EDS BAHIA CL 46"
147 = "EDS VERAGUAS"
133 = "EDS SAN GABRIEL AERO"
150 = "DROGUERIA BARRANCABERMEJA"
162 = "PLATAFORMA CROSS DOCKING FRI"
163 = "PLATAFORMA ANCHETAS CALI"
164 = "PLATAFORMA BOGOTA"
165 = "PLATAFORMA ANCHETAS BARRANQU"
168 = "PLATAFORMA CARGA LIQUIDACION"
170 = "PLT CROSS DOCKING DOMICILIO"
146 = "EDS SEVILLANA"
173 = "PLT DE CROSS DOCKING FRIOS M"
97 = "METRO SOGAMOSO"
175 = "ALMACENAMIENTO MEDELLIN"
176 = "ALMACENAMIENTO CALI"
83 = "JUMBO CARIBE PLAZA"
98 = "EDS AV DEL RIO"
84 = "JUMBO MEGA MALL"
81 = "METRO VENTURA"
80 = "METRO LIBERTADORES"
103 = "JUMBO CABECERA"
125 = "EDS TERCERA CL 34"
158 = "EDS LA 42 CL 34B"
159 = "EDS LA 17 CRA 17"
166 = "METRO DOSQUEBRADAS"
167 = "JUMBO TITAN"
123 = "EDS IVESUR CIRCUN"
177 = "METRO LA 72 SAN FRANCISCO"
180 = "BODEGA EXTENDIDA CARTAGENA"
182 = "PLATAFORMA XD PESCADERIA"
18 = "JUMBO AUTOPISTA SUR"
186 = "PLATAFORMA FRUVER MEDELLIN"
187 = "PLATAFORMA FRUVER CALI"
188 = "PLATAFORMA XD FRIOS CALI"
196 = "PLATAFORMA IMPORTADOS FRIOS"
197 = "PLATAFORMA XD ELECTRO MEDELL"
198 = "PLATAFORMA XD DOMICILIOS CAL"
199 = "PLATAFORMA ANCHETAS MEDELLIN"
205 = "PLATAFORMA E_COMMERCE CL 80"
300 = "METRO EXPRESS COUNTRY CALLE"
302 = "XPRESS MARLY"
307 = "EXPRESS CALLE 97"
308 = "EXPRESS METRO 127"
310 = "METRO EXPRESS CALLE 53"
311 = "METRO EXPRESS SURTIFRUVER AU"
312 = "METRO EXPRESS SURTIFRUVER AV"
313 = "EXPRESS CALLE 57"
314 = "EXPRESS CALLE 95 CRA 15"
315 = "EXPRESS BELMIRA 140 CRA 7"
316 = "EXPRESS CALLE 76 CRA 16"
317 = "GSC OUTLET"
320 = "EXPRESS CALLE 94 CRA 14"
321 = "METRO EXPRESS MERCADEFAM COL"
323 = "EXPRESS CLL 135 CON 19"
322 = "CABECERA"
325 = "EXPRESS EDS LA TERCERA"
326 = "EXPRESS EDS ALAMOS"
327 = "EXPRESS EDS SAN GABRIEL"
328 = "EXPRESS CALLE 114"
194 = "JUMBO ATLANTIS"
330 = "EXPRESS MODELIA CALLE24"
331 = "METRO EXPRESS PASTO"
332 = "METRO EXPRESS SURTIFRUVER AV"
71 = "METRO TINTALITO"
249 = "JUMBO ALTOS DEL COUNTRY"
78 = "METRO  FONTIBON"
79 = "METRO SAN CAYETANO"
338 = "METRO EXPRESS SUPERFRUVER SA"
183 = "METRO SAN GIL"
22 = "JUMBO LAS VEGAS"
124 = "METRO ALQUERIA"
13 = "JUMBO VALLE DE LILI"
179 = "METRO PITALITO"
184 = "METRO  MAYALES"
204 = "E_COMMERCE"
148 = "JUMBO SANTAFE"
305 = "SPID ANT COUNTRY"
174 = "JUMBO EL CASTILLO"
340 = "SPID CALLE 125"
303 = "SPID CALLE 95"
304 = "SPID CARACAS CON 49"
309 = "SPID CALLE 45"
301 = "SPID CEDRITOS  CALL"
12 = "EASY HAYUELOS"
5 = "EASY AMERICAS"
3043 = "EASY ALTOS DEL PRADO"
3813 = "EASY GAITAN CORTES"
3014 = "EASY CALLE 170"
17 = "JUMBO 20 DE JULIO"
193 = "JUMBO PLAZA CENTRAL"
3812 = "EASY SOACHA"
3814 = "EASY 4SUR MEDELLIN"
34 = "METRO FLORIDABLANCA"
195 = "METRO SANTA LUCIA"
3806 = "EASY PRADO MEDELLIN"
3805 = "EASY CENTRO MAYOR"
3809 = "EASY MAYALES VALLEDUPAR"
31 = "JUMBO CHIPICHAPE"
77 = "METRO ZIPAQUIRA"
23 = "JUMBO DE LA 65"
24 = "JUMBO PREMIUM PLAZA"
25 = "METRO BELLO ANTIOQUIA"
14 = "JUMBO CALLE 170"
253 = "JUMBO ATRIO"
39 = "METRO GIRON"
32 = "METRO LA 70"
30 = "JUMBO LIMONAR PREMIER"
33 = "METRO CARTAGO"
38 = "METRO NEIVA"
35 = "METRO BUGA"
36 = "JUMBO POPAYAN"
15 = "JUMBO HAYUELOS"
19 = "JUMBO SANTA ANA"
203 = "METRO E_COMMERCE"
333 = "SPID CORFERIAS"
324 = "SPID CALLE 93"
335 = "SPID JAVERIANA 45"
329 = "SPID CALLE 148"
334 = "SPID ALHAMBRA"
336 = "SPID CARRERA 3"
337 = "SPID CIUDAD SALITRE"
85 = "METRO MONTERIA"
105 = "METRO MERCA REAL"
88 = "JUMBO BUENAVISTA"
86 = "JUMBO AMERICANO"
128 = "JUMBO PASTO"
1004 = "EASY CALLE 80"
1002 = "EASY BOSA"
1006 = "EASY AUTOSUR"
3811 = "EASY CALLE 13"
3800 = "EASY OCCIDENTE"
3801 = "EASY NORTE"
171 = "METRO PASTO UNICO"
126 = "JUMBO SAN SILVESTRE"
108 = "JUMBO CANAVERALL"
87 = "JUMBO GUATAPURI"
2340 = "SPID CALLE 125"
